* {
  padding: 0px;
  margin: 0px;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* @media only screen and (min-width: 992px) {
  #app-container {
    max-width: 1140px;
  }
} */
